@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');
$font:'Space Grotesk', sans-serif;

$red: hsl(0, 100%, 66%);
$gradient1: hsl(249, 99%, 64%);
$gradient2: hsl(278, 94%, 30%);

$white:hsl(0, 0%, 100%);
$neutral1: hsl(270, 3%, 87%);
$neutral2: hsl(279, 6%, 55%);
$neutral3: hsl(278, 68%, 11%);

*{
    margin: 0;
    padding: 0;
}

body{
    font: 500 1rem/1.5 $font;
}

img{
    width: 100%;
}

.p-relative{
    position: relative;
}

.card-wrapper{
    background-image: url(../images/bg-main-mobile.png);
    padding: 32px 16px 1px;
    background-repeat: no-repeat;
    background-size: cover;

    .ccv{
        position: absolute;
        top: 67px;
        right: 40px;
        font-size: 0.813rem;
        color: $white;
    }

    .card-back{
        text-align: right;
        
        img{
            width: 285px;
        }
    }
    

    .card-front{
        margin-top: -75px;
        margin-bottom: -45px;

        img{
            width: 285px;
        }

        .card-logo{
            position: absolute;
            width: 56px;
            left: 19px;
            top: 18px;
        }

        .card-number{
            position: absolute;
            left: 18px;
            color: white;
            bottom: 50px;
            font-size: 18px;
            letter-spacing: 2px;
        }

        .card-holder-wrapper{
            position: absolute;
            left: 0;
            display: flex;
            justify-content: space-between;
            width: 245px;
            bottom: 19px;
            left: 18px;
            font-size: 12px;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            font-weight: 300;
        }
    }

    .card-back,
    .card-front{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}